<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

</head>
<body class="bg-dark">
 <form th:object="${estado}"th:action="@{./salvarEstado}" method="POST">
 <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
	<div th:each="detailedError : ${#fields.detailedErrors()}">
	<span th:text="${detailedError.message}"></span>
	</div>
	</div>
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Cadastro de Estado</div>
      <div class="card-body">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                  <input type="text" id="firstName" th:field="*{nome}" class="form-control" placeholder="Nome do estado" required="required" autofocus="autofocus">
                  <label for="firstName">Nome</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group"  th:classappend="${#fields.hasErrors('sigla')}? 'has-error'">
                  <input type="text" id="lastName" th:field="*{sigla}" class="form-control" placeholder="Sigla do Estado" required="required">
                  <label for="lastName">Sigla</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group"  th:classappend="${#fields.hasErrors('id')}? 'has-error'">
                  <input type="hidden" id="lastName" th:field="*{id}" class="form-control" required="required">
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block">Cadastrar</button>
      </div>
    </div>
  </div>
 </form>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>